body{
    background-color: #6ba3f5;
}
p{
    background-color: #e3883c
}
div{
    font-size: 25px;
}
img{
    margin: auto;
    display: block;
    border-color: black;
    border-width: medium;
    border-style: dashed;
    border-radius: 25px;
}
.list{
    list-style-type: upper-roman;
    list-style-position: inside;
    position: absolute;
    top:2px;
    right: 300px;
    visibility: visible;
}

a{
text-decoration: none
}
a:link{
    color:black;
}
a:visited{
    color: #d91b1b;
}
a:active{
    color: green;
}

a:hover{
    margin-top: 5px;
    margin-left: 2px;
    font-weight: bold;
}

p::first-letter{
    font-size: 45px;
}

li:nth-child(2){
    background-color: #d91b1b;
}