body{
    background-color: #6ba3f5;
}
p{
    background-color: #e3883c
}
div{
    font-size: 25px;
}
img{
    margin: auto;
    display: block;
    border-color: black;
    border-width: medium;
    border-style: dashed;
    border-radius: 25px;
}
.list{
    list-style-type: upper-roman;
    list-style-position: inside;
    position: absolute;
    top:2px;
    right: 300px;
    visibility: visible;
}